AI-Agent---nextus-automation-main/N8N Workflows/RAG_SYSTEM.json
{
  "name": "RAG SYSTEM",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "ddde71c9-63e8-4ded-a664-be680f29cdab",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -740,
        20
      ],
      "webhookId": "b178f034-9997-4832-9bb4-a43c3015506e",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "QKGQs4zFLKYIkpRl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "32eff13e-2c6c-4cb6-aac6-63734cfcac10",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        200,
        240
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "vX5FeLdMQ9wUQoaq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "046fb522-b903-43c9-b2db-e4b7722d44ba",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        340,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "4214753a-f778-4375-8665-4269d6eec303",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        420,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "errorMessage": "An error occurred"
      },
      "id": "9c4c8a96-a086-4d22-b5c6-7bd75caad9ad",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        -300,
        620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}\nSearch the database with the retriever for information for the answer",
        "options": {}
      },
      "id": "ce3adb8f-1934-42f8-8feb-ace75dd1b771",
      "name": "Question and Answer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "position": [
        -800,
        260
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {},
      "id": "c3a15d28-44e2-43b2-98ca-1024fddf85dd",
      "name": "Vector Store Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "position": [
        -760,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "telegram2",
          "mode": "list",
          "cachedResultName": "telegram2"
        },
        "options": {}
      },
      "id": "9b320c49-568b-48ec-be2b-1a53707a381b",
      "name": "Pinecone Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        -800,
        640
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "eO34Bb7icn3DtWm3",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "8839993b-9fe7-4e1e-a1cc-fe5de6b0bb62",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.message.document }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "7d0f2e02-66d8-426f-8207-947fedbcdfc9",
      "name": "Check If is a document",
      "type": "n8n-nodes-base.if",
      "position": [
        -300,
        20
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Função para modificar os metadados do arquivo binário\nfunction modifyBinaryMetadata(items) {\n  for (const item of items) {\n    if (item.binary && item.binary.data) {\n      // Modifica o tipo MIME\n      item.binary.data.mimeType = 'application/pdf';\n      \n      // Garante que o nome do arquivo termine com .pdf\n      if (!item.binary.data.fileName.toLowerCase().endsWith('.pdf')) {\n        item.binary.data.fileName += '.pdf';\n      }\n      \n      // Atualiza o contentType no fileType (se existir)\n      if (item.binary.data.fileType) {\n        item.binary.data.fileType.contentType = 'application/pdf';\n      }\n    }\n  }\n  return items;\n}\n\n// Aplica a modificação e retorna os itens atualizados\nreturn modifyBinaryMetadata($input.all());"
      },
      "id": "efaf5d92-b846-4fb0-8f3f-d66dacd94052",
      "name": "Change to application/pdf",
      "type": "n8n-nodes-base.code",
      "position": [
        180,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document.file_id }}"
      },
      "id": "99fbba9d-5003-4c94-b8ad-407ddaaf3144",
      "name": "Telegram get File",
      "type": "n8n-nodes-base.telegram",
      "position": [
        0,
        0
      ],
      "typeVersion": 1.2,
      "webhookId": "2a50328a-98d9-42c0-8b54-9299520af0a6",
      "credentials": {
        "telegramApi": {
          "id": "QKGQs4zFLKYIkpRl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b271730a-b8ae-4eed-9687-04504543b4ac",
      "name": "Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        -620,
        860
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "vX5FeLdMQ9wUQoaq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.response.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "4bfc0ebf-c97e-4320-ad9a-a64242e7641e",
      "name": "Telegram Response",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -360,
        340
      ],
      "typeVersion": 1.2,
      "webhookId": "135d0328-cfee-444f-97d6-bf7b99006ae3",
      "credentials": {
        "telegramApi": {
          "id": "QKGQs4zFLKYIkpRl",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.metadata.pdf.totalPages }} pages saved on Pinecone",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "501e0b65-68eb-4713-8f61-35cd8796683c",
      "name": "Telegram Response about Database",
      "type": "n8n-nodes-base.telegram",
      "position": [
        880,
        0
      ],
      "typeVersion": 1.2,
      "webhookId": "1538f455-05ea-4d24-ab74-fecdfb5ae195",
      "credentials": {
        "telegramApi": {
          "id": "QKGQs4zFLKYIkpRl",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "errorMessage": "An error occurred."
      },
      "id": "85e6a903-2807-4c0f-b3d1-c41351f6b380",
      "name": "Stop and Error1",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        880,
        360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "telegram2",
          "mode": "list",
          "cachedResultName": "telegram2"
        },
        "options": {}
      },
      "id": "0111333a-1f2a-4a46-9c16-092ac9838c2d",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        360,
        0
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "eO34Bb7icn3DtWm3",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "ce20a280-7092-4d7e-bdff-88042df46ec8",
      "name": "Limit to 1",
      "type": "n8n-nodes-base.limit",
      "position": [
        700,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -920,
        480
      ],
      "id": "a86973c6-be7d-4e50-9c01-a91a2d91bc25",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ek6Q5qOjGukmc2s4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check If is a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Check If is a document": {
      "main": [
        [
          {
            "node": "Telegram get File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change to application/pdf": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram get File": {
      "main": [
        [
          {
            "node": "Change to application/pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Response": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Response about Database": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Limit to 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to 1": {
      "main": [
        [
          {
            "node": "Telegram Response about Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bceaf574-2e03-4336-8645-78a9113b0895",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "71ab28f7d7f2514b40793eeea846fa47e37a01971ff2cf9cdea09c72ce4266a9"
  },
  "id": "vxwnrUe1DiS8NKw5",
  "tags": []
}